.THIS.container {
    border: 1px solid #ddd;
    padding: 40px;
    min-width: 300px;
}

.THIS.container .header {
    border: 1px solid #ddd;
    border-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.THIS.container .header.flex-box {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    line-height: 64px;
    padding: 0 24px;
}

.THIS.container .header.flex-box .flex-item.title {
    font-size: 1.5rem;
    flex-grow: 1;
}

.THIS.container .header.flex-box.shrinked {
    flex-shrink: 1;
}

.THIS.container table {
    padding: 0;
    margin: 0;
}

.THIS.container table th {
    padding: 10px;
}

.THIS.container table th,
.THIS.container table td {
    line-height: 32px;
    border: 1px solid #ddd;
    border-collapse: collapse;
    text-align: center;
}

.THIS.container table .tbody {
    height: 300px;
    overflow-y: auto;
    border: 1px solid red;
}

.THIS.container table td>button,
.THIS.container table td>span {
    display: block;
    padding: 20px;
    width: 100%;
    height: 100%;
    border:0;
    background-color: #fff;
    color: #0070d2;
}

.THIS.container table td>button:hover,
.THIS.container table td>span:hover {
    background-color: #eee;
    text-decoration: none;
}
